body {
  background-color: blue;
}

.Row {
  display: table;
  width: 100%;
}

.Column {
  display: table-cell;
}

.board {
  align: center;
  width: 50%;
}

.stored {
  width: 25%;
  display: inline;
}

.blank {
  width: 25%;
}

.store {
  background-color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin-top: -2px;
  margin-bottom: -2px;
}

.square {
  background-color: white;
  width: 22px;
  height: 22px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin-top: -2px;
  margin-bottom: -2px;
}

.filled {
  border-radius: 2px;
  background-color: blue;
}

[color="red"] {
  background-color: red;
}

[color="orange"] {
  background-color: orange;
}

[color="yellow"] {
  background-color: yellow;
}

[color="green"] {
  background-color: green;
}

[color="blue"] {
  background-color: blue;
}

[color="purple"] {
  background-color: purple;
}

[color="lightblue"] {
  background-color: #33CCFF;
}
